################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SOLID Examples/bin/Debug/net8.0
/SOLID Examples/obj/Debug/net8.0
/SOLID Examples/obj
